.products {
    padding: 3em 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em 1em;
    background-color: hsl(var(--clr-accent));
}
.title {
    grid-column: 1 /  -1;
    text-align: center;
}
.product {
    color: hsl(var(--clr-accent));
    background-color: hsl(var(--clr-dark));
    line-height: 1;
    max-height: 500px;
}