<div
  class="product"
  *ngFor="
    let product of products;
    index as i;
    first as first;
    last as last;
    odd as odd;
    even as even
  "
>
  <h2 class="product__title" #productTitle>
    {{ i + 1 }}. {{ first }} {{ last }} {{ odd }} {{ even }} {{ product.title }}
  </h2>
  <span class="product__price">{{ product.price }}</span>
</div>
<p *ngIf="products.length > 20; else lessProducts">greater than 20 products</p>
<ng-template #lessProducts><p>less than 20 products</p></ng-template>
