/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #391b3f;
    line-height: 1.6;
    background-color: #f6f7f4;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1em;
    font-weight: 400;
}
.container {
    max-width: 80rem;
    padding-inline: 1rem;
    margin-inline: auto;
}